﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

table {
	width: 100% 
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 2px;
	text-align: center;
	width: 50px;
	height: 50px;
	border: 1px solid black;
	border-collapse: collapse;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
