﻿@section scripts{
	<script src="~/Scripts/angular.js"></script>
	<script src="~/Scripts/City/CityApp.js"></script>
	<script src="~/Scripts/City/CityService.js"></script>
}

<div ng-app="CityApp">
	<div ng-controller="CityController">
		<label>Your name:</label>
		<div><input id="name" name="name" type="text" ng-model="vm.name" /></div>
		<label>Type of car:</label>
		<div><input id="car" name="car" type="text" ng-model="vm.carType" /></div>
		<label>Speed of car:</label>
		<div><input id="speed" name="speed" type="number" ng-model="vm.speed" min="1" max="5" /></div>
		
		<button ng-click="vm.createCity()">Create New City</button>
		<button ng-click="vm.tick()">Tick</button>
		<button ng-click="vm.go()">Go!</button>
		<table>
			<tr>
				<td>{{vm.map[0][0]}}</td>
				<td>{{vm.map[0][1]}}</td>
				<td>{{vm.map[0][2]}}</td>
				<td>{{vm.map[0][3]}}</td>
				<td>{{vm.map[0][4]}}</td>
				<td>{{vm.map[0][5]}}</td>
				<td>{{vm.map[0][6]}}</td>
				<td>{{vm.map[0][7]}}</td>
				<td>{{vm.map[0][8]}}</td>
				<td>{{vm.map[0][9]}}</td>
			</tr>
			<tr>
				<td>{{vm.map[1][0]}}</td>
				<td>{{vm.map[1][1]}}</td>
				<td>{{vm.map[1][2]}}</td>
				<td>{{vm.map[1][3]}}</td>
				<td>{{vm.map[1][4]}}</td>
				<td>{{vm.map[1][5]}}</td>
				<td>{{vm.map[1][6]}}</td>
				<td>{{vm.map[1][7]}}</td>
				<td>{{vm.map[1][8]}}</td>
				<td>{{vm.map[1][9]}}</td>
			</tr>
			<tr>
				<td>{{vm.map[2][0]}}</td>
				<td>{{vm.map[2][1]}}</td>
				<td>{{vm.map[2][2]}}</td>
				<td>{{vm.map[2][3]}}</td>
				<td>{{vm.map[2][4]}}</td>
				<td>{{vm.map[2][5]}}</td>
				<td>{{vm.map[2][6]}}</td>
				<td>{{vm.map[2][7]}}</td>
				<td>{{vm.map[2][8]}}</td>
				<td>{{vm.map[2][9]}}</td>
			</tr>
			<tr>
				<td>{{vm.map[3][0]}}</td>
				<td>{{vm.map[3][1]}}</td>
				<td>{{vm.map[3][2]}}</td>
				<td>{{vm.map[3][3]}}</td>
				<td>{{vm.map[3][4]}}</td>
				<td>{{vm.map[3][5]}}</td>
				<td>{{vm.map[3][6]}}</td>
				<td>{{vm.map[3][7]}}</td>
				<td>{{vm.map[3][8]}}</td>
				<td>{{vm.map[3][9]}}</td>
			</tr>
			<tr>
				<td>{{vm.map[4][0]}}</td>
				<td>{{vm.map[4][1]}}</td>
				<td>{{vm.map[4][2]}}</td>
				<td>{{vm.map[4][3]}}</td>
				<td>{{vm.map[4][4]}}</td>
				<td>{{vm.map[4][5]}}</td>
				<td>{{vm.map[4][6]}}</td>
				<td>{{vm.map[4][7]}}</td>
				<td>{{vm.map[4][8]}}</td>
				<td>{{vm.map[4][9]}}</td>
			</tr>
			<tr>
				<td>{{vm.map[5][0]}}</td>
				<td>{{vm.map[5][1]}}</td>
				<td>{{vm.map[5][2]}}</td>
				<td>{{vm.map[5][3]}}</td>
				<td>{{vm.map[5][4]}}</td>
				<td>{{vm.map[5][5]}}</td>
				<td>{{vm.map[5][6]}}</td>
				<td>{{vm.map[5][7]}}</td>
				<td>{{vm.map[5][8]}}</td>
				<td>{{vm.map[5][9]}}</td>
			</tr>
			<tr>
				<td>{{vm.map[6][0]}}</td>
				<td>{{vm.map[6][1]}}</td>
				<td>{{vm.map[6][2]}}</td>
				<td>{{vm.map[6][3]}}</td>
				<td>{{vm.map[6][4]}}</td>
				<td>{{vm.map[6][5]}}</td>
				<td>{{vm.map[6][6]}}</td>
				<td>{{vm.map[6][7]}}</td>
				<td>{{vm.map[6][8]}}</td>
				<td>{{vm.map[6][9]}}</td>
			</tr>
			<tr>
				<td>{{vm.map[7][0]}}</td>
				<td>{{vm.map[7][1]}}</td>
				<td>{{vm.map[7][2]}}</td>
				<td>{{vm.map[7][3]}}</td>
				<td>{{vm.map[7][4]}}</td>
				<td>{{vm.map[7][5]}}</td>
				<td>{{vm.map[7][6]}}</td>
				<td>{{vm.map[7][7]}}</td>
				<td>{{vm.map[7][8]}}</td>
				<td>{{vm.map[7][9]}}</td>
			</tr>
			<tr>
				<td>{{vm.map[8][0]}}</td>
				<td>{{vm.map[8][1]}}</td>
				<td>{{vm.map[8][2]}}</td>
				<td>{{vm.map[8][3]}}</td>
				<td>{{vm.map[8][4]}}</td>
				<td>{{vm.map[8][5]}}</td>
				<td>{{vm.map[8][6]}}</td>
				<td>{{vm.map[8][7]}}</td>
				<td>{{vm.map[8][8]}}</td>
				<td>{{vm.map[8][9]}}</td>
			</tr>
			<tr>
				<td>{{vm.map[9][0]}}</td>
				<td>{{vm.map[9][1]}}</td>
				<td>{{vm.map[9][2]}}</td>
				<td>{{vm.map[9][3]}}</td>
				<td>{{vm.map[9][4]}}</td>
				<td>{{vm.map[9][5]}}</td>
				<td>{{vm.map[9][6]}}</td>
				<td>{{vm.map[9][7]}}</td>
				<td>{{vm.map[9][8]}}</td>
				<td>{{vm.map[9][9]}}</td>
			</tr>
		</table>
		{{vm.status}}
	</div>
</div>

